@model bsy.ViewModels.Hane.HaneVM
@{
    ViewBag.Title = "Sistem Haneleri";
}
<style>
</style>

<script src="~/Scripts/spk-scripts.js" type="text/javascript"></script>
<script type="text/javascript">

    function sehirDegisti(control) {
        var sehir = control.value;
        //alert(sehir);
        $.ajax({
            type: "POST",
            data: { sehirID: sehir },
            url: '@Url.Action("SehrinIlceleri", "Genel")',
            dataType: 'json',
            success: function (json) {

                //alert("girdi");
                var $el = $("#ilcelerSelect");
                $el.empty(); // remove old options

                //$el.append($("<option></option>")
                //    .attr("value", '').text('_Bütün İlçeler'));

                $.each(json, function (value, key) {
                    //alert(value);
                    //alert(key.text);
                    //alert(key.value);
                    $el.append($("<option></option>")
                        .attr("value", key.value).text(key.text));
                });
            }
        });

        return;
    }

    function ilceDegisti(control) {
        return;
        var ilce = control.value;
        var frm = document.getElementById("frmHaneIndex");
        document.getElementById("ilceID").value = ilce;
        frm.submit();
    }

    $(document).ready(function () {
        /*
        izinGorev = document.getElementById('IzinGorev').value;
        */
    });

    function HaneClickHandler() {
        //document.getElementById("SicilNo").removeAttribute('disabled');

        return true;

    }

    function HaneSil() {
        var agree = confirm("Haneyi Silmek İstediğinizden Emin misiniz?");
        if (agree) {

            return true;
        }
        else {
            return false;
        }
    }

</script>

@using (Html.BeginForm("YeniHane", "Hane", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => Model.hane.MahalleID)
    @Html.HiddenFor(model => Model.hane.id)
    @Html.HiddenFor(model => Model.hane.HaneKodu)

    @Html.HiddenFor(model => Model.kunye.BolgeID)
    @Html.HiddenFor(model => Model.kunye.SehirID)
    @Html.HiddenFor(model => Model.kunye.IlceID)
    @Html.HiddenFor(model => Model.kunye.MahalleID)
    @Html.HiddenFor(model => Model.kunye.HaneID)

    <div id="divAna">
        <font size="3" color=black><b>@ViewBag.Title</b></font>
        <br />
        <br />
        <fieldset class="field_style cerceveKucuk">
            <table>
                <tr class="veri">
                    <td align="right" class="etiketSabit">
                        Şehir :
                    </td>
                    <td align="left">
                        @Html.TextBoxFor(model => model.kunye.Sehir, new { @readonly = "readonly" })
                    </td>
                </tr>
                <tr class="veri">
                    <td align="right" class="etiketSabit">
                        İlçe :
                    </td>
                    <td align="left">
                        @Html.TextBoxFor(model => model.kunye.Ilce, new { @readonly = "readonly" })
                    </td>
                </tr>
                <tr class="veri">
                    <td align="right" class="etiketSabit">
                        Mahalle :
                    </td>
                    <td align="left">
                        @Html.TextBoxFor(model => model.kunye.Mahalle, new { @readonly = "readonly" })
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
        <h3>Hane Bilgileri</h3>
        <fieldset class="field_style cerceveKucuk">
            <table id="mahalleTablosu">
                <tr>
                    <td align="right" class="etiketSabit">
                        Hane Kodu :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.HaneKodu)
                        @Html.ValidationMessageFor(model => model.hane.HaneKodu)
                    </td>
                </tr>

                <tr>
                    <td align="right" class="etiketSabit">
                        Kayıt Tarihi :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.KayitTarihi, "{0:dd-MM-yyyy}", new { @class = "datepicker veri" })
                        @Html.ValidationMessageFor(model => model.hane.KayitTarihi)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        EPosta :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.eposta)
                        @Html.ValidationMessageFor(model => model.hane.eposta)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Cadde :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.Cadde)
                        @Html.ValidationMessageFor(model => model.hane.Cadde)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Sokak :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.Sokak)
                        @Html.ValidationMessageFor(model => model.hane.Sokak)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Apartman :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.Apartman)
                        @Html.ValidationMessageFor(model => model.hane.Apartman)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Daire :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.Daire)
                        @Html.ValidationMessageFor(model => model.hane.Daire)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Oda Sayısı :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.OdaSayisi)
                        @Html.ValidationMessageFor(model => model.hane.OdaSayisi)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Brüt Alanı (M2) :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.hane.BrutAlan)
                        @Html.ValidationMessageFor(model => model.hane.BrutAlan)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        Ek Bilgiler :
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.hane.EkBilgi, 10, 100, new { })
                        @Html.ValidationMessageFor(model => model.hane.EkBilgi)
                    </td>
                </tr>
            </table>
        </fieldset>

        <table>
            <tr>
                <td>
                    <input type="submit" value="Kaydet" class="genelButton" name="btnSubmit" onclick="return HaneClickHandler();" />
                    <input type="button" value="İptal" class="genelButton" onclick="location.href='@Url.Action("Index", "Hane")'" />
                </td>
            </tr>
        </table>
    </div>
}

<form method="post" hidden="hidden" action="@Url.Action("Index", "Hane")" id="frmHaneIndex">
    @Html.AntiForgeryToken()
    <div id="divIslem">
        <input type="text" id="sehirID" name="sehirID" value="" hidden="hidden" />
        <input type="text" id="ilceID" name="ilceID" value="" hidden="hidden" />
        <input type="text" id="mahalleID" name="mahalleID" value="" hidden="hidden" />
    </div>
</form>
