<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#liste").jqGrid('destroyGroupHeader');
        $("#liste").setGridWidth($(window).width() * shrinkFaktor, true);
        setGridGroupHeaders();
    }).trigger('resize');

    function setGridGroupHeaders()
    {

    }

    function ilceSil(id) {
        var agree = confirm("İlçe Kaydını Silmek İstediğinizden Emin misiniz?");
        if (agree) {
            var frm = document.getElementById("frmIlceSil");
            document.getElementById("idSil").value = id;
            frm.submit();
        }
        else
            return false;
    }

    function ilceSilHazirla(cellvalue, options, rowObject) {
        if (rowObject[0] == 0) {
            return "";
        }
        return "<a href='#' onclick=ilceSil(" + rowObject[0] + ");>Sil</a>"
    }

    function ilceGunle(cellvalue, options, rowObject)
    {
        var mesaj = "Değiştir";
        if (rowObject[0] == 0) {
            mesaj = "Ekle";
        }
        //return "<a href='~/Kullanicilar/YeniKullanici?id=" + rowObject[0] + "'>Değiştir</a>";

        //return "<a href='~/Roller/YeniRolleri?id=" + rowObject[0] + "&userID=" + rowObject[1] + "'>" + mesaj + "</a>";
        return "<a href='@Url.Action("YeniIlce","Ilce")?id=" + rowObject[0] + "'>" + mesaj + "</a>";
    }

    jQuery(document).ready(function () {

        jQuery("#liste").jqGrid({ //hangi tablo onun id si
            url: '@Url.Action("ListeIlceler", "Ilce")', //ilki action ikincisi controller
            datatype: 'json',
            mtype: 'POST',
            autowidth: true,
            colNames: ['id', 'Şehir ID', 'Şehir Kodu', 'Şehir', 'İlçe Kodu', 'Ilçe Adı', 'Açıklama', 'Değiştir', 'Sil'],
            colModel:
            [
              { name: 'id', index: 'id', hidden:true, width: 10, sortable: false },
              { name: 'sehirID', index: 'sehirID', hidden: true, width: 10, sortable: false },
              { name: 'SEHIRKODU', index: 'SEHIRKODU', width: 50, search: false, sortable: false },
              { name: 'SEHIR', index: 'SEHIR', width: 75, search: true, sortable: false },
              { name: 'ILCEKODU', index: 'ILCEKODU', width: 50, search: false, sortable: false },
              { name: 'ILCE', index: 'ILCE', width: 200, search:true, sortable: false },
              { name: 'ACIKLAMA', index: 'ACIKLAMA', width: 75, search: false, sortable: false },
              { name: 'Degistir', index: 'Degistir', width: 50, align: 'left', search: false, sortable: false, formatter: ilceGunle },
              { name: 'Sil', index: 'Sil', width: 50, align: 'left', search: false, sortable: false, formatter: ilceSilHazirla }
            ],
            gridComplete: function ()
            {
                //alert("girdi");
                gridCompleteOrtak("#liste", true);
            },
            shrinkToFit: true,
            autowidth: true,
            altRows: true,
            altclass: "myAltRowClass",
            toppager: true,
            rowNum: 30,
            rowList: [5, 10, 15, 20, 30],
            sortname: 'AD',
            sortorder: "asc",
            viewrecords: true,
            height: '100%',
            caption: 'Sistem İlçeleri',
            postData:
                {
                   'ilkGiris': function () { return '@ViewBag.IlkGiris' },
                   'sehirID': function () { return '@ViewBag.sehirID' }
                }
        });

        jQuery("#liste").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'] });

        setGridGroupHeaders();
        gridCompleteOrtak("#liste", true);

        $(".ui-jqgrid-sortable").css('white-space', 'normal');
        $(".ui-jqgrid-sortable").css('height', 'auto');
        @*$('#liste').jqGrid('setGridWidth', '1000');*@
    });
</script>

<form method="get" action="@Url.Action("YeniIlce", "Ilce")" id="frmYeniIlce">
    <div id="divIslem">
        <input type="submit" class="genelButtonOrta" value="Yeni İlçe" />
    </div>
</form>

<table id="liste" class="scroll" cellpadding="0" cellspacing="0" width="100%"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>

<form method="post" hidden="hidden" action="@Url.Action("IlceSil", "Ilce")" id="frmIlceSil">
    @Html.AntiForgeryToken()
    <div id="divIslem">
        <input type="text" id="idSil" name="idSil" value="" hidden="hidden" />
    </div>
</form>
