@model bsy.ViewModels.Ilce.IlceVM
@{
    ViewBag.Title = "Sistem İlçeleri";
}
<style>
</style>

<script src="~/Scripts/spk-scripts.js" type="text/javascript"></script>
<script type="text/javascript">

    function sehirDegisti(control) {
        return;
        var sehir = control.value;
        var frm = document.getElementById("frmIlceIndex");
        document.getElementById("ilID").value = sehir;
        frm.submit();
    }

    $(document).ready(function () {
        /*
        izinGorev = document.getElementById('IzinGorev').value;
        */
    });

    function IlceClickHandler() {
        //document.getElementById("SicilNo").removeAttribute('disabled');

        return true;

    }

    function IlceSil() {
        var agree = confirm("İlçeyi Silmek İstediğinizden Emin misiniz?");
        if (agree) {

            return true;
        }
        else {
            return false;
        }
    }

</script>

@using (Html.BeginForm("YeniIlce", "Ilce", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => Model.sozluk.id)
    @Html.HiddenFor(model => Model.sozluk.Turu)
    @Html.HiddenFor(model => Model.ilce.id)

    <div id="divAna">
        <font size="3" color=black><b>@ViewBag.Title</b></font>
        <br />
        <br />
        <fieldset class="field_style cerceveKucuk">
            <table>
                <tr class="veri">
                    <td align="right" class="etiketSabit">
                        Şehir :
                    </td>
                    <td align="left">
                        @Html.DropDownListFor(model => model.ilce.ilID, new SelectList(Model.sehirler, "Value", "Text"), new { @style = "width:340px", @onchange = "sehirDegisti(this)", @class = "veri" })
                        @Html.ValidationMessageFor(model => model.ilce.ilID)
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
        <h3>İlçe Bilgileri</h3>
        <fieldset class="field_style cerceveKucuk">
            <table id="ilceTablosu">
                <tr>
                    <td align="right" class="etiketSabit">
                        İlçe Kodu :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.sozluk.Kodu)
                        @Html.ValidationMessageFor(model => model.sozluk.Kodu)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        İlçe Adı :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.sozluk.Aciklama, new { @size = 80 })
                        @Html.ValidationMessageFor(model => model.sozluk.Aciklama)
                    </td>
                </tr>
                <tr>
                    <td align="right" class="etiketSabit">
                        İlçe Bilgileri :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ilce.Aciklama, new { @size = 120 })
                        @Html.ValidationMessageFor(model => model.ilce.Aciklama)
                    </td>
                </tr>
            </table>
        </fieldset>

        <table>
            <tr>
                <td>
                    <input type="submit" value="Kaydet" class="genelButton" name="btnSubmit" onclick="return IlceClickHandler();" />
                    <input type="button" value="İptal" class="genelButton" onclick="location.href='@Url.Action("Index", "Ilce")'" />
                </td>
            </tr>
        </table>
    </div>
}

<form method="post" hidden="hidden" action="@Url.Action("Index", "Ilce")" id="frmIlceIndex">
    @Html.AntiForgeryToken()
    <div id="divIslem">
        <input type="text" id="ilID" name="ilID" value="" hidden="hidden" />
    </div>
</form>
