@model bsy.Models.ErrorModel
@{
    ViewBag.Title = "Hata";
}
<div>
    <fieldset class="field_style">
        <h1>SİSTEM HATASI</h1>
        <h2>İşlem gerçekleştirilirken bir hata oluştu</h2>
        <h2>Lütfen ekran görüntüsünü alıp teknik personele bilgi veriniz.</h2>
    </fieldset>
    <br />
    <br />
    <fieldset class="field_style">
        <h3>Sonuç: </h3>
        <p id="result">@Html.DisplayFor(model => model.result)</p>
        <br />
        <h3>Özet:</h3>
        <p id="message">@Html.DisplayFor(model => model.message)</p>
        <br />
        <h3 onclick="$('#trace').toggle()">Detay:</h3>
        <p id="trace" style="display:none;">@Html.DisplayFor(model => model.trace)</p>
        @*
        <h3>Detay:</h3>
        <p id="trace">@Html.DisplayFor(model => model.trace)</p>
        *@
    </fieldset>
</div>
<br />
<div>
            <form action='@Url.Action("Index", "Home")'>
                <input type="submit" class="genelButton" value="Ana Sayfa" />
            </form>
</div>

