<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#liste").jqGrid('destroyGroupHeader');
        $("#liste").setGridWidth($(window).width() * shrinkFaktor, true);
        setGridGroupHeaders();
    }).trigger('resize');

    function setGridGroupHeaders()
    {

    }

    function kisiGorusmeSil(id) {
        var agree = confirm("Kisi Görüşme Kaydını Silmek İstediğinizden Emin misiniz?");
        if (agree) {
            var frm = document.getElementById("frmKisiGorusmeSil");
            document.getElementById("idSil").value = id;
            frm.submit();
        }
        else
            return false;
    }

    function kisiGorusmeSilHazirla(cellvalue, options, rowObject) {
        if (rowObject[0] == 0) {
            return "";
        }

        return "<a href='#' onclick=kisiGorusmeSil(" + rowObject[0] + ");>Sil</a>"
    }

    function kisiGorusmeGunle(cellvalue, options, rowObject)
    {
        var mesaj = "Değiştir";
        if (rowObject[0] == 0) {
            mesaj = "Ekle";
        }

        return "<a target='_blank' href='@Url.Action("YeniKisiGorusme","KisiGorusme")?id=" + rowObject[0] + "&yeniGorusme=0'>" + mesaj + "</a>";
    }

    function kisiGorusmeEkle(cellvalue, options, rowObject)
    {
        var mesaj = "Ekle";
        return "<a target='_blank' href='@Url.Action("YeniKisiGorusme","KisiGorusme")?id=" + rowObject[0] + "&yeniGorusme=1'>" + mesaj + "</a>";
    }

    jQuery(document).ready(function () {

        jQuery("#liste").jqGrid({ //hangi tablo onun id si
            url: '@Url.Action("ListeGorusmeler", "KisiGorusme")', //ilki action ikincisi controller
            datatype: 'json',
            mtype: 'POST',
            autowidth: true,
            colNames: ['id', 'Kisi ID', 'Hane Kodu', 'Şehir ve İlçe','Mahalle', 'Adres', 'Ad Soyad', 'Görüşme Tarihi', 'Görüşme Açıklaması', 'Ekle', 'Değiştir', 'Sil'],
            colModel:
            [
              { name: 'id', index: 'id', hidden:true, width: 10, sortable: false },
              { name: 'kisiID', index: 'kisiID', hidden: true, width: 10, sortable: false },
              { name: 'HANEKODU', index: 'HANEKODU', width: 50, search: true, sortable: false },
              { name: 'SEHIRILCE', index: 'SEHIRILCE', width: 75, search: true, sortable: false },
              { name: 'MAHALLE', index: 'MAHALLE', width: 100, search: true, sortable: false },
              { name: 'ADRES', index: 'CADDE', width: 150, search: true, sortable: false },
              { name: 'ADSOYAD', index: 'ADSOYAD', width: 75, search: true, sortable: false },
              { name: 'GORUSMETARIHI', index: 'GORUSMETARIHI', width: 50, align: 'left', sortable: false, formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd-m-Y' } },
              { name: 'ACIKLAMA', index: 'ACIKLAMA', width: 150, search: true, sortable: false },
              { name: 'Ekle', index: 'Ekle', width: 25, align: 'left', search: false, sortable: false, formatter: kisiGorusmeEkle },
              { name: 'Degistir', index: 'Degistir', width: 25, align: 'left', search: false, sortable: false, formatter: kisiGorusmeGunle },
              { name: 'Sil', index: 'Sil', width: 25, align: 'left', search: false, sortable: false, formatter: kisiGorusmeSilHazirla }
            ],
            gridComplete: function ()
            {
                //alert("girdi");
                gridCompleteOrtak("#liste", true);
            },
            shrinkToFit: true,
            autowidth: true,
            altRows: true,
            altclass: "myAltRowClass",
            toppager: true,
            rowNum: 30,
            rowList: [5, 10, 15, 20, 30],
            sortname: 'ADSOYAD',
            sortorder: "asc",
            viewrecords: true,
            height: '100%',
            caption: 'Kisi Görüşmeleri',
            postData:
                {
                   'ilkGiris': function () { return '@ViewBag.IlkGiris' },
                   'kisiID': function () { return '@ViewBag.kisiID' }
                }
        });

        jQuery("#liste").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'] });

        setGridGroupHeaders();
        gridCompleteOrtak("#liste", true);

        $(".ui-jqgrid-sortable").css('white-space', 'normal');
        $(".ui-jqgrid-sortable").css('height', 'auto');
        @*$('#liste').jqGrid('setGridWidth', '1000');*@
    });
</script>

<form method="get" action="@Url.Action("YeniKisiGorusme", "KisiGorusme")" id="frmYeniKisiGorusme">
    <div id="divIslem">
        <input type="hidden" name="id" value="0" />
        <input type="hidden" name="yeniGorusme" value="1" />
        <input type="submit" class="genelButtonOrta" value="Yeni Görüşme" />
    </div>
</form>

<table id="liste" class="scroll" cellpadding="0" cellspacing="0" width="100%"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>

<form method="post" hidden="hidden" action="@Url.Action("GorusmeSil", "KisiGorusme")" id="frmKisiGorusmeSil">
    @Html.AntiForgeryToken()
    <div id="divIslem">
        <input type="text" id="idSil" name="idSil" value="" hidden="hidden" />
    </div>
</form>
