<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#liste").jqGrid('destroyGroupHeader');
        $("#liste").setGridWidth($(window).width() * shrinkFaktor, true);
        setGridGroupHeaders();
    }).trigger('resize');

    function setGridGroupHeaders()
    {

    }

    function submitForm()
    {
        var frm = document.getElementById("frmTarihDaireSicil");
        frm.action = '@Url.Action("OzetGunle", "AySonu")';
        frm.submit();
    }

    function rollerSil(id) {
        var agree = confirm("Kullanıcı Rolleri Kaydını Silmek İstediğinizden Emin misiniz?");
        if (agree) {
            var frm = document.getElementById("frmRollerSil");
            document.getElementById("idSil").value = id;
            frm.submit();
        }
        else
            return false;
    }

    function rollerSilHazirla(cellvalue, options, rowObject) {
        if (rowObject[0] == 0) {
            return "";
        }
        return "<a href='#' onclick=rollerSil(" + rowObject[0] + ");>Sil</a>"
    }

    function rollerGunle(cellvalue, options, rowObject)
    {
        var mesaj = "Değiştir";
        if (rowObject[0] == 0) {
            mesaj = "Ekle";
        }
        //return "<a href='~/Kullanicilar/YeniKullanici?id=" + rowObject[0] + "'>Değiştir</a>";

        //return "<a href='~/Roller/YeniRolleri?id=" + rowObject[0] + "&UserID=" + rowObject[1] + "'>" + mesaj + "</a>";
        return "<a href='@Url.Action("YeniRolleri","Roller")?id=" + rowObject[0] + "&UserID=" + rowObject[1] + "'>" + mesaj + "</a>";

    }

    jQuery(document).ready(function () {

        jQuery("#liste").jqGrid({ //hangi tablo onun id si
            url: '@Url.Action("ListeRolleri", "Roller")', //ilki action ikincisi controller
            datatype: 'json',
            mtype: 'POST',
            autowidth: true,
            colNames: ['id', 'Kullanıcı ID', 'eposta', 'Adı', 'Soyadı', 'Rolleri', 'Değiştir', 'Sil'],
            colModel:
            [
              { name: 'id', index: 'id', hidden:true, width: 10, sortable: false },
              { name: 'UserID', index: 'UserID', hidden: true, width: 10, sortable: false },
              { name: 'eposta', index: 'eposta', width: 200, sortable: false },
              { name: 'AD', index: 'AD', width: 75, sortable: false },
              { name: 'SOYAD', index: 'SOYAD', width: 75, sortable: false },
              { name: 'ROLLERI', index: 'ROLLERI', width: 400, sortable: false },
              { name: 'Degistir', index: 'Degistir', width: 50, align: 'left', sortable: false, formatter: rollerGunle },
              { name: 'Sil', index: 'Sil', width: 50, align: 'left', sortable: false, formatter: rollerSilHazirla }
            ],
            gridComplete: function ()
            {
                //alert("girdi");
                gridCompleteOrtak("#liste", true);
            },
            shrinkToFit: true,
            autowidth: true,
            altRows: true,
            altclass: "myAltRowClass",
            toppager: true,
            rowNum: 30,
            rowList: [5, 10, 15, 20, 30],
            sortname: 'AD',
            sortorder: "asc",
            viewrecords: true,
            height: '100%',
            caption: 'Kullanıcı Rolleri',
            postData:
                {
                    'ilkGiris': function () { return '@ViewBag.IlkGiris' }
                }
        });

        setGridGroupHeaders();
        gridCompleteOrtak("#liste", true);

        $(".ui-jqgrid-sortable").css('white-space', 'normal');
        $(".ui-jqgrid-sortable").css('height', 'auto');
        @*$('#liste').jqGrid('setGridWidth', '1000');*@
    });
</script>

<form method="get" action="@Url.Action("YeniRolleri", "Roller")" id="frmYeniRoller">
    <div id="divIslem">
        <input type="submit" class="genelButtonOrta" value="Yeni Kullanıcı" />
    </div>
</form>

<table id="liste" class="scroll" cellpadding="0" cellspacing="0" width="100%"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>

<form method="post" hidden="hidden" action="@Url.Action("RolleriSil", "Roller")" id="frmRollerSil">
    @Html.AntiForgeryToken()
    <div id="divIslem">
        <input type="text" id="idSil" name="idSil" value="" hidden="hidden" />
    </div>
</form>
